.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #0d0d0d;
  cursor: pointer;
}

.Button:hover {
  background: #333333;
}

.Button svg {
  fill: #f3f3f3;
}
